h1{
  font-family: "Arial";
  text-align: center;
}
p{
  font-family: monospace;
}

body{
  font-size: 15px;
}

#two{
  font-size: 1.2em;
  font-weight: normal;
}
#three{
  font-family: 'Neonderthaw', cursive;
  font-size: 1.5em
}

#four{
  font-family: 'BananaBrickRegular';
   font-weight: normal;
   font-style: normal;
}

p{
  font-style:  italic;
  font-weight: bold;
}
