body{
  background: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/beach-quotes-1559667853.jpg);
  background-repeat: no-repeat;
}

div{
  background-color: #25baf5;
  border-color: red;
  border-width: 10px;
  border-style: double;
}
p{
  color: green;
}


span{
  background-color: red;

}
